body {
    background-image: url("./images/10501_black-and-purple-wallpaper.png");
}
h1 {
    text-align: center;
    color: rgb(181, 106, 216);
    padding: 1em 3em 1em 0em;
    font-size: 4em;
    font-family: 'Gloria Hallelujah', cursive;
}
a {
    color: rgb(181, 106, 216);
    font-size:  3em;
    margin-left: 20%;
   

}
a:hover {
    text-decoration:  none;
    color: azure;
}
.timer {
    text-align: center;
    padding-left: 40%;
    padding-right: 30%;
}
h2 {
    color: rgb(181, 106, 216);
    font-family: 'Gloria Hallelujah', cursive;
}
.time {
    float: left;
}
h2 {
    padding: 1em 1em;
}
.sual {
    padding-right: 30%;
}
.my-btn {
    margin-top: 25px;
    margin-left:3%;
    padding: 5px 20px;
    width: 20%;
    color: aliceblue;
    background-color: rgb(150, 86, 209);
    opacity: 0.8;
    font-family:  'Gloria Hallelujah', cursive;
    font-size: 1.5em;
    border:2px solid rgb(205, 209, 212);
    border-radius:10px;
}
